{
  "plugins": [
    "flow-runtime",
    "@babel/plugin-syntax-dynamic-import",
    [ "@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true}],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    "emotion"
  ],
  "presets": [
    "@babel/preset-flow",
  	"@babel/preset-react",
    "@babel/preset-env",
  ]
}
